.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

section {
    background: white;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

#table {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

    & table {
        width: 80%;
        border: 1px solid #ddd;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    & thead tr {
        background-color: #ecf3f8;
        color: #4a5568;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
}


#table th {
    padding: 16px;
    font-size: 18px;
}

#table td {
    padding: 16px;
    font-size: 15px;
    color: #333;
}

#table tbody tr {
    background-color: #ffffff;
}

#table tbody tr:nth-child(odd) {
    background-color: #f2f7fb;
}

#table tbody tr:hover {
    background-color: #e2eef7;
}


/* Style cho các nút Action */
.btn-edit {
    display: none;
    background-color: rgb(116, 116, 0);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-edit:hover {
    background-color: rgb(116, 116, 0);
    transform: scale(1.05);
}

/* .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    color: #718096;
    margin-left: 15px;
    font-size: 16px;
}

.btn-delete:hover {
    color: #e53e3e;
} */